/* Root */
@import 'utils/normalize';

/* Var */
@import 'var/antd';
@import 'var/gradioRoot';
@import 'var/gradioDark';

/* Components */
@import 'components/scrollbar';
@import 'components/header';
@import 'components/sliders';
@import 'components/button';
@import 'components/checkbox';
@import 'components/dropdown';
@import 'components/table';
@import 'components/textinput';
@import 'components/prompt-textarea';
@import 'components/gallery';
@import 'components/script-container';
@import 'components/extra-network';
@import 'components/progressbar';

/* Plugin */
@import 'plugin/aspect_ratio';
@import 'plugin/image_browser';
@import 'plugin/preset_manager';

/* Theme Fix */
.gradio-container {
  font-size: var(--fontSize);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  background-image: radial-gradient(circle 155vh at 50px 50px,
      #fff -5%,
      var(--colorPrimary) 5%,
      var(--colorPrimaryBorderHover) 20%,
      var(--colorPrimaryBgHover) 70%,
      var(--colorBgLayout) 100%);

  background-repeat: no-repeat;
}

/* Text highlight */
::selection {
  background: var(--colorPrimary);
}

/* Hires. fix text color highlight */
#txtimg_hr_finalres {
  color: var(--colorPrimary) !important;
}

/* Misc decorative top borders */
div.svelte-1oo81b7>*+*:not(.absolute):not(#html_log_txt2img):not(#html_log_img2img),
#txt2img_script_container,
#img2img_script_container,
#txt2img_results,
#img2img_results {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: var(--block-radius) !important;
  border-bottom-right-radius: var(--block-radius) !important;
  border-top: solid 4px var(--colorAccent) !important;
}

/* Fix styles label margin */
#txt2img_styles,
#img2img_styles {
  margin-top: -18px;
}

/* Fix small-window footer */
#footer{
  margin-bottom: 0;
  
  @media screen and (max-width: 500px) {
    margin-bottom: 5vh !important;
  }
}

/* Fix generate context menu */
#context-menu{
  z-index:9999;
  position:absolute;
  display:block;
  padding:0px 0;
  border:2px solid var(--colorPrimary);
  border-radius:8px;
  box-shadow:1px 1px 16px var(--colorAccent);
  width: 200px;
  background: var(--colorFillTertiary) !important;

  @media screen and (max-width: 500px) {
    position: fixed;
    left: 2% !important;
    width: 95% !important;
    margin-top: -90px;
  }

}

/* Fix generate context menu hover*/
.context-menu-items a {
  transition: var(--baseTransition) !important;
  &:hover{
	  background: var(--colorPrimary);
    transition: var(--hoverTransition) !important;
  }
}