.gradio-button {
  border-radius: var(--borderRadius) !important;
  min-width: 36px;
  min-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0px solid var(--colorPrimary);
  &:hover{
    outline: 2px solid var(--colorPrimary);
  }
}

#txt2img_generate,
#img2img_generate {
	background: var(--button-primary-background-fill) !important;

  &:hover {
    background: var(--button-secondary-background-fill) !important;
  }

  &:active {
    background: var(--colorErrorActive) !important;
  }
  
}

#txt2img_interrupt,
#txt2img_skip,
#img2img_interrupt,
#img2img_skip {
  background: var(--colorError) !important;
  outline: 0px solid var(--colorError);

  &:hover {
    background: var(--colorErrorHover) !important;
    outline: 2px solid var(--colorErrorHover);
  }

  &:active {
    background: var(--colorErrorActive) !important;
    outline: 2px solid var(--colorErrorActive);
  }
}


#txt2img_interrupt,
#img2img_interrupt {
  border-radius: var(--borderRadius) 0 0 var(--borderRadius) !important;
  border-right: 1px solid var(--colorErrorBg);
}

#txt2img_skip,
#img2img_skip {
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0 !important;
}