.gradio-dropdown {
    transition: var(--baseTransition) !important;

    .wrap {
        span {
            transition: var(--baseTransition) !important;
        }

        svg {
            transition: var(--baseTransition) !important;
        }
    }

    &:hover {
        .wrap {
            span {
                color: var(--colorPrimary) !important;
                transition: var(--hoverTransition) !important;
            }

            svg {
                fill: var(--colorPrimary) !important;
                transition: var(--hoverTransition) !important;
            }
        }
    }
}

.label-wrap {
    transition: var(--baseTransition) !important;

    &:hover {
        color: var(--colorPrimary);
        transition: var(--hoverTransition) !important;
    }
}

/* Dropdown Border */
.gradio-dropdown div.wrap {
    border: solid 1px var(--colorPrimaryBorderHover) !important;

    &:active,
    &:focus,
    &:focus-within {
        box-shadow: var(--input-shadow-focus) !important;
    }

    li {
        transition: var(--baseTransition) !important;
    }

    li:hover {
        color: var(--colorPrimary);
        transition: var(--hoverTransition) !important;
    }
}