[id$='2img_prompt'] textarea {
  color: #abef3edf !important;
  max-height: 84px;
  overflow-y: auto;

  &:focus {
    color: #d5ff92ff !important;
  }
}

[id$='2img_neg_prompt'] textarea {
  color: #ea394ddf !important;
  max-height: 84px;
  overflow-y: auto;

  &:focus {
    color: #ea6c7bff !important;
  }
}

.block.token-counter span {
  backdrop-filter: blur(24px);
  display: inline-block;
}

#txt2img_prompt_container {
  flex-flow: row wrap;
  & > div{
    width: 1px;
    flex-grow: 1;

    @media screen and (max-width: 725px) {
      width: 100% !important;
    }
  }
}

#img2img_prompt_container {
  flex-flow: row wrap;

  & > button{
    width: 1px;
    flex-grow: 0.1;
    min-width: fit-content;

    @media screen and (max-width: 1000px) {
      width: 100% !important;
    }
  }

  & > div{
    width: 1px !important;
    flex-grow: 1;

    @media screen and (max-width: 1000px) {
      width: 100% !important;
    }
  }
}