input[type="text"],
input[type="number"],
textarea {
    border: solid 1px var(--colorPrimaryBorderHover) !important;

    &:hover {
        color: var(--colorPrimary) !important;
        transition: all 0.05s ease-in-out;
    }
}